body {
    margin: 0;
    background-color: rgb(248, 248, 248);
  }
  
  .page {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: #091e3d;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    min-height: 100vh;
  }
  
  .page-left,
  .page-center,
  .page-right {
    padding: 20px;
  }
  
  .dashboard{
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .sidebar {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    width:150vh;

  }
  
  .dashboard h2{
    font-family: 'Josefin Slab', serif;
    font-size: 4vh;
    margin-bottom: 10px;
  }
  .sidebar h2 {
    font-family: 'Josefin Slab', serif;
    font-size: 7vh;
    margin-bottom: 10px;
  }
  
  .dashboard p,
  .sidebar p {
    margin: 5px 0;
  }
  
  .calendario{
    width: 100%;
    height: 100%;  
  }
  
  .calendar-title {
    color: #091e3d;
    margin-bottom: 10px;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .calendar-cell {
    background-color: #ffffff;
    color: #091e3d;
    text-align: center;
    padding: 10px;
  }

  .movie-entry {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .movie-image {
    width: 90px;
    height: 140px;
    margin-right: 10px;
  }
  
  .movie-name {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: #091e3d;
    font-size: 16px;
  }
  .asdfasdf {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 20px; 
    
  }
  
  .asdfasdf div {
    background-color: #003049;
    border-radius: 5%;

  }
  
  .asdfasdf div img {
    width: 100%;
    height: 80%;
  }
  
  .text-center {
    text-align: center;
    padding-top: 8%;
    padding-left: 3%;
    padding-right: 3%;
  }
  .asdfasdf h4{
    font-size: 200%;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: rgb(255, 255, 255);
  }