.navbar-container {
  width: 100%;
  background-color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #091e3d;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 1.1rem;
  height: 40vh;
  padding: 1.5rem;
}

.navbar-left img {
  height: 29vh;
  width: 65vh;
  margin-right: 20vh;
  padding: 2rem;
}
.navbar p {
  font-family: 'Josefin Slab', serif;
}

.navbar .a_doble{
  display: grid;
  grid-template-columns: 25% 80%;
  place-items: center;
  text-align: center;
  column-gap: 0.5vw;
  padding-right: 1vw;
}
.navbar .a_doble p{
  padding-top: 3vh;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.nav-items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.nav-item a {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.items-left{
  padding-top: 3.8vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
}

.usuario{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-item.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  color: #091e3d;
  font-family: 'Josefin Slab', serif;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* left: 1vw; Adjust this value as needed */
}

.nav-item.dropdown .dropdown-content a, .nav-item.dropdown .dropdown-content button{
  font-size: 2.5vh;
  font-family: 'Josefin Slab', serif;
}

.nav-item.dropdown:hover .dropdown-content {
  display: block;
}

.nav-item.dropdown .dropdown-content a {
  color: inherit;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-item.dropdown .dropdown-content a:hover, .nav-item.dropdown .dropdown-content button:hover {
  background-color: #f1f1f1;
}

.dropdown-content button{
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  position: absolute;
  background-color: #ffffff;
  color: #091e3d;
  font-size: 16px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 2vh;
  padding-left: 3vh;
  z-index: 1;
}

