.gridcentrado{
  display: grid;
  place-items: center;
  width: 100%;
}
.doscolumnas{
  grid-template-columns: 70% 30%;
}
.viewtrailer{
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: flex-end;
    min-height: 40vw;

  }

.casdf{
  height: 200%;
}
  .boton{
    background-color: #003049;
    color: white;
    font-family: "Chewy";
    outline: none;
    border: 1px solid white;
    padding: 0.7%;
    cursor: pointer;
    font-size: 190%;
    margin-bottom: 10px;
  }
  .boton2{
    background-color: #8e0b0b;
    position: absolute;
    color: white;
    font-family: "Chewy";
    outline: none;
    border: 1px solid white;
    padding: 0.7%;
    cursor: pointer;
    font-size: 190%;
    margin-bottom: 10px;
  }
  .reproductor{
    height: 40vw;
    width: 99vw;
  }
  .titulo88{
    color: #fdfdfd;
    text-align: center;
    padding-bottom: 0%;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .txt88{
    color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    padding: 0 1.5em 0em 1.5em;
  }

  .bloquedes{
    background-color: #0f1014c6;
    height: 100%;
    width: 100%;
  }


  .nompeli{
    font-family: 'Chewy';
    font-size: 50%;
    background: #003049;
    color: aliceblue;
  }
  .btnbuscar{
    font-family: 'Chewy';
    position:absolute;
    border: none;
    color: #078ae1;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 150%;
    padding-left: 90%;

  }
  .espaciobuscar{
    padding-left: 2%;
    font-family: 'Chewy';
    position: absolute;
    width: 97%;
    border-radius: 50px;
    background: #ffffff;
    color: #003049;
    font-size: 150%;

  }

  .asdfasdf {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 20px; 
    padding: 0 1vw 3vh 1vw;
  }
  
  .asdfasdf div {
    background-color: #002f49d5;
    border-radius: 5%;

  }
  
  .asdfasdf div img {
    width: 100%;
    height: 80%;
  }

  .text-center {
    text-align: center;
    padding-top: 8%;
    padding-left: 3%;
    padding-right: 3%;
  }
  .asdfasdf h4{
    font-size: 200%;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: rgb(255, 255, 255);
  }


  .search-bar {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border-color: #003049;
    border: 1px solid #003049;
    border-radius: 20px;
    padding: 4px 8px;
    width: 70%;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    max-height: 7vh;
  }

  .search-bar:hover {
    box-shadow: 0 0 5px rgba(4, 86, 201, 0.3);
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    padding: 8px;
    font-size: 14px;
  }
  .search-bar .a_doble{
    display: grid;
    grid-template-columns: 25% 80%;
    place-items: center;
    text-align: center;
    column-gap: 0.5vw;
    padding-right: 1vw;
  }
  .search-bar .a_doble p{
    padding-top: 3vh;
  }
  
  .search-bar button {
    border: none;
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
  }
  
  .search-bar button:focus {
    outline: none;
  }
  
  .search-bar button:hover {
    color: #0b689a;
  }
  .contenedorTabla{
    width: 100%;
    height: 100%;
    padding: 0 1em 1em 1em;
  }
  .tablaDatosMovie {
    width: 100%;
    height: 100%;
    padding-left: 1em;
  }
  
  .tablaDatosMovie tr:nth-child(even) {
    background-color: #272931c6;
  }
  
  .tablaDatosMovie tr:nth-child(odd) {
    background-color: #222224c6;
  }
  
  .tablaDatosMovie td {
    color: #ffffff;
  padding-left: 1em;
  }
  